.advantages {
  background-color: #f6f6f6;
  min-height: 473px;
  padding: 73px 0 65px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    max-width: 277px;
    text-align: center;
    color: #0d0d0d;

    h3 {
      margin-top: 35px;
      font-weight: 700;
      font-size: 18px;
    }

    p {
      margin-top: 20px;
      font-weight: 300;
      font-size: 14px;

      a {
        text-decoration: underline;
        color: #ff0000;
      }
    }
  }
}