.header {
  position: relative;
  top: 21px;
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;

  &__logo {
    width: 250px;

    img {
      width: 100%;
    }
  }

  &__official {
    text-align: center;
    color: #fff;

    p {
      margin-block-end: 0;
      line-height: normal;
      font-weight: 500;
      font-size: 12px;
    }

    span {
      margin-top: 7px;
      display: block;
      font-size: 18px;
    }
  }

  &__phone {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}